{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}

   <!-- bradcam_area  -->
   <div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Add New Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add New Job</h4>
        </div>
        <div class="card-body bg-light">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form_add layout='horizontal' %}
                {% buttons %}
                    <button type="submit" class="btn btn-success btn-block">Submit Job</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock%}